/* ! global */
:root {
  --font-source: "Source Sans Pro", sans-serif;
  --font-volkhov: "Volkhov", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-source);
}

.dropdown_active {
  color: #fb811e !important;
}

/***** dark-theme *****/
.dark-theme {
  background-color: #222222;
  color: white !important;
}

.dark-theme i {
  color: black;
}

.dark-theme p {
  color: #b7b7b7;
}

.dark-theme h4 {
  color: white;
}

/* home - navbar */
.dark-theme header > nav.sticky-nav,
.dark-theme header .navbar_right .dropdown-menu,
.dark-theme header .navbar_right .dropdown-menu.dropdown_expand {
  background-color: #222;
}

.dark-theme header > nav.sticky-nav .navbar_left i,
.dark-theme header > nav.sticky-nav .navbar_left h1,
.dark-theme header .navbar_left:hover i,
.dark-theme header .navbar_left:hover h1,
.dark-theme header > nav.sticky-nav .navbar_right .nav-item:nth-child(2) i,
.dark-theme header > nav.sticky-nav .navbar_right .nav-item:nth-child(3) i,
.dark-theme header .navbar_right .nav-item:nth-child(3) ul li a {
  color: white;
}

/* home - footer */
.dark-theme footer .footer__column h4 {
  color: white;
}

.dark-theme footer .footer__column ul li,
.dark-theme footer .footer__column ul li a,
.dark-theme footer .footer__column p {
  color: #b7b7b7;
}

.dark-theme footer .footer__column a:hover i, 
.dark-theme footer .footer__column a:hover h1 {
  color: white;
}

.dark-theme footer .footer__column form input {
  background-color: #0b0e0d;
  border-color: rgba(255, 255, 255, 0.2);
}

.dark-theme footer .footer__column form button i {
  color: white;
}

/***** End dark-theme *****/

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/* ! header - navbar */
header > nav.navbar {
  padding: 20px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  transition: all 0.3s;
}

/* header left */
header .navbar_left {
  position: relative;
}

header .navbar_left i {
  position: absolute;
  top: -1px;
  left: 40%;
  transform: translateX(-50%);
  color: #fb811e;
  transition: all 0.3s;
}

header .navbar_left h1 {
  font-size: 32px;
  color: #fb811e;
  font-family: "Volkhov", serif;
  margin-bottom: 0;
  transition: all 0.3s;
}

header .navbar_left:hover i,
header .navbar_left:hover h1 {
  color: black;
}

/* header right */
header .navbar_right {
  justify-content: flex-end;
  align-items: center;
}

header .navbar_right .nav-item {
  margin-left: 20px;
  cursor: pointer;
}

header .navbar_right .nav-item:nth-child(3) {
  margin-left: 10px;
}

header .navbar_right .nav-item:nth-child(1) form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 10em;
}

header .navbar_right .nav-item:nth-child(1) form i {
  line-height: 35px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s;
}

header .navbar_right .nav-item:nth-child(1) form:hover i {
  color: #fb811e;
}

header .navbar_right .nav-item:nth-child(1) form input {
  border: none;
  width: 0;
  background-color: transparent;
  transition: all 0.5s;
}

header .navbar_right .nav-item:nth-child(1) form input:focus {
  outline: none;
  width: 180px;
}

header .navbar_right .nav-item:nth-child(2) {
  width: 30px;
  height: 30px;
}

header .navbar_right .nav-item:nth-child(2) i {
  margin: 10px 0;
  color: white;
  transition: all 0.3s;
}

header .navbar_right .nav-item:nth-child(2) i:hover {
  color: #fb811e;
}

header .navbar_right .nav-item:nth-child(3) > a {
  padding: 8px 0;
}

header .navbar_right .nav-item:nth-child(3) > a i {
  color: white;
  font-size: 25px;
  transition: all 0.5s;
}

header .navbar_right .nav-item:nth-child(3) > a i:hover {
  color: #fb811e;
}

/* Dropdown menu */
header .navbar_right .dropdown-menu {
  left: -215px;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  display: block;
  overflow: hidden;
  height: 0;
  padding: 0;
  transition: all 0.5s;
}

header .navbar_right .dropdown-menu.dropdown_expand {
  height: 262px;
}

header .navbar_right .nav-item:nth-child(3) ul li:nth-child(1) {
  margin-top: 20px;
}

header .navbar_right .nav-item:nth-child(3) ul li {
  margin-bottom: 5px;
}

header .navbar_right .nav-item:nth-child(3) ul li a {
  font-weight: 600;
  transition: all 0.5s;
}

header .navbar_right .nav-item:nth-child(3) ul li a:hover {
  color: #fb811e;
  background-color: transparent;
}

/* * fixed when scrolling */
header > nav.sticky-nav {
  padding: 10px 0;
  position: fixed;
  top: 0;
  background-color: white;
}

header > nav.sticky-nav .navbar_left i,
header > nav.sticky-nav .navbar_left h1,
header > nav.sticky-nav .navbar_right .nav-item:nth-child(2) i,
header > nav.sticky-nav .navbar_right .nav-item:nth-child(3) i {
  color: #060606;
}

header > nav.sticky-nav .navbar_right .nav-item:nth-child(1) form {
  border: 1px solid #eee;
}

header > nav.sticky-nav .navbar_left:hover i,
header > nav.sticky-nav .navbar_left:hover h1,
header > nav.sticky-nav .navbar_right .nav-item:nth-child(2) i:hover,
header > nav.sticky-nav .navbar_right .nav-item:nth-child(3) i:hover {
  color: #fb811e;
}

/* ! footer */
footer .footer__column h4 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #060606;
  font-family: var(--font-volkhov);
}

footer .footer__column ul {
  margin: 0;
  padding: 0;
}

footer .footer__column ul li,
footer .footer__column ul li a {
  color: #707070;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 16px;
  transition: all .5s;
}

footer .footer__column ul li a:hover {
  color: #fb811e;
}

footer .footer__column > a i {
  position: absolute;
  top: -7px;
  left: 68px;
  font-size: 20px;
  color: #fb811e;
  transition: all .5s;
}

footer .footer__column a h1 {
  font-size: 32px;
  color: #fb811e;
  font-family: var(--font-volkhov);
  margin-bottom: 24px;
  transition: all .5s;
}

footer .footer__column a:hover i, 
footer .footer__column a:hover h1 {
  color: #060606;
}

footer .footer__column p {
  color: #707070;
  font-size: 17px;
  line-height: 24px;
}

footer .footer__column:nth-child(2) p:nth-child(3) {
  font-size: 18px;
  line-height: 30px;
  margin: 60px 0 0;
}

footer .footer__column:nth-child(2) p:nth-child(3) a {
  color: #009f4d;
  font-weight: 600;
  transition: all 0.5s;
}

footer .footer__column:nth-child(2) p:nth-child(3) a:hover {
  color: #fb811e;
}

footer .footer__column form input {
  background-color: #f4f4f4;
  color: #707070;
  padding: 12px 20px;
  outline: none;
  border: 1px solid #eee;
  border-radius: 30px 0 0 30px;
  width: 80%;
}

footer .footer__column form button {
  width: 20%;
  background-color: #009f4d;
  border: 1px solid #009f4d;
  color: white;
  border-radius: 0 30px 30px 0;
  padding: 12px;
  font-size: 16px;
  transition: all .5s;
}

footer .footer__column form button:hover {
  opacity: 0.8;
}

footer .footer__column .footer__social a i {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background-color: rgb(10 191 83 / 8%);
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  font-size: 15px;
  transition: all .5s;
}

footer .footer__column .footer__social a i:hover {
  color: #fb811e;
  background-color: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

/* ! back-to-top btn */
.backTop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  background-color: #009f4d;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.backTop:hover {
  opacity: 0.8;
}

.backTop i {
  color: white;
  line-height: 40px;
  font-size: 15px;
}

.visible {
  opacity: 1;
  visibility: visible;
}

/* ! right side navbar */
body > i {
  position: fixed;
  top: 150px;
  right: 20px;
  font-size: 20px;
  line-height: 50px !important;
  width: 50px;
  height: 50px;
  text-align: center;
  z-index: 10;
  color: #e6ebff !important;
  background-color: #0D1326;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s;
}

body > i:hover {
  opacity: 1;
}

body > #left {
  display: none;
}

.home_sidenav {
  position: fixed;
  right: 0;
  top: 140px;
  overflow: hidden;
  z-index: 5;
}

.home_sidenav .sidenav__block {
  background-color: #0D1326;
  border-radius: 9px 0 0 9px;
  padding: 70px 5px 10px;
  position: relative;
  right: 0;
  transition: all 0.3s;
}

.home_sidenav .sidenav__block .block__content {
  padding: 30px 5px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.home_sidenav .sidenav__block .block__content .content__item {
  margin-bottom: 20px;
  cursor: pointer;
}

.home_sidenav .sidenav__block .block__content .content__item i {
  color: #e6ebff;
  opacity: 0.6;
  transition: all .5s;
}

.home_sidenav .sidenav__block .block__content .content__item p {
  color: #e6ebff;
  opacity: 0.6;
  line-height: 24px;
  transition: all .5s;
}

.home_sidenav .sidenav__block .block__content .content__item:hover i,
.home_sidenav .sidenav__block .block__content .content__item:hover p {
  opacity: 1;
}

/* ! responsive */
/* ! 1280px */
@media screen and (min-width: 1280px) {
  /* todo: global */
  .container {
    max-width: 1200px;
  }
}

/* ! 576px */
@media screen and (max-width: 575.98px) {
  /* todo: header */
  header > nav.navbar {
    flex-wrap: wrap;
  }

  header .navbar_right .nav-item:nth-child(1) form input:focus {
    width: 115px;
  }
}
