/* ! global */
:root {
  --font-source: "Source Sans Pro", sans-serif;
  --font-volkhov: "Volkhov", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-source);
}

.dropdown_active {
  color: #fb811e !important;
}

/***** dark-theme *****/
.dark-theme {
  background-color: #222222;
}

.dark-theme i {
  color: black;
}
/***** End dark-theme *****/

a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/* ! header - navbar */
header > nav.navbar {
  padding: 20px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.3s;
}

/* header left */
header .navbar_left {
  position: relative;
}

header .navbar_left i {
  position: absolute;
  top: -1px;
  left: 40%;
  transform: translateX(-50%);
  color: #fb811e;
  transition: all 0.3s;
}

header .navbar_left h1 {
  font-size: 32px;
  color: #fb811e;
  font-family: "Volkhov", serif;
  margin-bottom: 0;
  transition: all 0.3s;
}

header .navbar_left:hover i,
header .navbar_left:hover h1 {
  color: black;
}

/* header right */
header .navbar_right {
  justify-content: flex-end;
  align-items: center;
}

header .navbar_right .nav-item {
  margin-left: 20px;
  cursor: pointer;
}

header .navbar_right .nav-item:nth-child(3) {
  margin-left: 10px;
}

header .navbar_right .nav-item:nth-child(1) form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 10em;
}

header .navbar_right .nav-item:nth-child(1) form i {
  line-height: 35px;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s;
}

header .navbar_right .nav-item:nth-child(1) form:hover i {
  color: #fb811e;
}

header .navbar_right .nav-item:nth-child(1) form input {
  border: none;
  width: 0;
  background-color: transparent;
  transition: all 0.5s;
}

header .navbar_right .nav-item:nth-child(1) form input:focus {
  outline: none;
  width: 12em;
}

header .navbar_right .nav-item:nth-child(2) {
  width: 30px;
  height: 30px;
}

header .navbar_right .nav-item:nth-child(2) i {
  margin: 10px 0;
  color: white;
  transition: all 0.3s;
}

header .navbar_right .nav-item:nth-child(2) i:hover {
  color: #fb811e;
}

header .navbar_right .nav-item:nth-child(3) > a {
  padding: 8px 0;
}

header .navbar_right .nav-item:nth-child(3) > a i {
  color: white;
  font-size: 25px;
  transition: all 0.5s;
}

header .navbar_right .nav-item:nth-child(3) > a i:hover {
  color: #fb811e;
}

/* Dropdown menu */
header .navbar_right .dropdown-menu {
  left: -215px;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  display: block;
  overflow: hidden;
  height: 0;
  padding: 0;
  transition: all 0.5s;
}

header .navbar_right .dropdown-menu.dropdown_expand {
  padding: 20px 0;
  height: 330px;
}

header .navbar_right .nav-item:nth-child(3) ul li {
  margin-bottom: 5px;
}

header .navbar_right .nav-item:nth-child(3) ul li a {
  font-weight: 600;
  transition: all 0.5s;
}

header .navbar_right .nav-item:nth-child(3) ul li a:hover {
  color: #fb811e;
  background-color: transparent;
}

/* * fixed when scrolling */
header > nav.sticky-nav {
  padding: 10px 0;
  position: fixed;
  top: 0;
  background-color: white;
}

header > nav.sticky-nav .navbar_left i,
header > nav.sticky-nav .navbar_left h1,
header > nav.sticky-nav .navbar_right .nav-item:nth-child(2) i,
header > nav.sticky-nav .navbar_right .nav-item:nth-child(3) i {
  color: #060606;
}

header > nav.sticky-nav .navbar_right .nav-item:nth-child(1) form {
  border: 1px solid #eee;
}

header > nav.sticky-nav .navbar_left:hover i,
header > nav.sticky-nav .navbar_left:hover h1,
header > nav.sticky-nav .navbar_right .nav-item:nth-child(2) i:hover,
header > nav.sticky-nav .navbar_right .nav-item:nth-child(3) i:hover {
  color: #fb811e;
}

/* ! footer */

/* ! back-to-top btn */

/* ! right side navbar */

/* ! responsive */
/* ! 1280px */
@media screen and (min-width: 1280px) {
  /* todo: global */
  .container {
    max-width: 1200px;
  }
}

/* ! 576px */
@media screen and (max-width: 575.98px) {
  /* todo: header */
  header > nav.navbar {
    flex-wrap: wrap;
  }

  header .navbar_right .nav-item:nth-child(1) form input:focus {
    width: 115px;
  }
}
