/* ! Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.dropdown_active {
  color: #fb811e !important;
}

/* ! Header */
header > nav {
  height: 90px;
}
header .navbar_left {
  position: relative;
}

header .navbar_left i {
  position: absolute;
  top: -5px;
  left: 45%;
  transform: translateX(-50%);
  color: #fb811e;
}

header .navbar_left h1 {
  font-size: 32px;
  color: #fb811e;
  font-family: "Volkhov", serif;
  margin-bottom: 0;
}

header .navbar_right {
  justify-content: flex-end;
  align-items: center;
}

header .navbar_right .nav-item {
  margin-left: 20px;
  cursor: pointer;
}

header .navbar_right .nav-item:nth-child(1) i {
  line-height: 40px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  text-align: center;

}

header .navbar_right .nav-item:nth-child(2) i {
  margin: 10px 0;
  color: white;
}

header .navbar_right .nav-item:nth-child(2) i:hover {
  color: #fb811e;
}

header .navbar_right .nav-item:nth-child(3) > a {
  padding: 8px 0;
}

header .navbar_right .nav-item:nth-child(3) > a i {
  color: white;
  font-size: 25px;
}

header .navbar_right .dropdown-menu[data-bs-popper] {
  left: -215px;
  width: 15rem;
}

header .navbar_right .nav-item:nth-child(3) ul li {
  margin-bottom: 5px;
}

header .navbar_right .nav-item:nth-child(3) ul li a {
  font-weight: 700;
  transition: all .5s;
}

header .navbar_right .nav-item:nth-child(3) ul li a:hover {
  color: #fb811e;
  background-color: transparent;
}