/* GLOBAL  */
h1,
h2,
h3,
h4 {
  color: #060606;
  font-family: "Volkhov", serif;
  clear: both;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 28px;
}

p {
  font-size: 17px;
  color: #707070;
}

a {
  color: #707070;
  text-decoration: none;
  background-color: transparent;
}

/***** dark-theme *****/
.dark-theme .services_banner .banner_content ul, 
.dark-theme .services_banner .banner_content ul a {
  color: #b7b7b7;
}

.dark-theme .services_products .products_item h4 a,
.dark-theme .services_quality .quality_content .quality_right h3,
.dark-theme .services_number .number_content .number_item .count-number,
.dark-theme .services_number .number_content .number_item .count-text {
  color: #fdfffc;
}


/***** End dark-theme *****/

header h1,
footer h1 {
  line-height: 1.2;
}

/* BANNER  */
.services_banner {
  background-image: url("../img/services/img1.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 100px 0 20px 0;
}

.services_banner .banner_content ul {
  padding: 0;
  line-height: 1.5;
  color: #707070;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: capitalize;
}

.services_banner .banner_content ul a {
  transition: all 0.5s;
}

.services_banner .banner_content ul a:hover {
  color: #fb811e;
}

.services_banner .banner_content .title h4,
.services_banner .banner_content .title a {
  font-weight: 700;
}

/* PRODUCTS  */
.services_products .area-box {
  padding: 50px 35px;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
}

.services_products .area-box:hover {
  transition: 0.3s;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.services_products .products_item i {
  font-size: 45px;
  color: #fb811e;
}

.services_products .products_item h4 {
  margin: 25px 0 15px;
}

.services_products .products_item h4 a {
  color: #060606;
  transition: all 0.5s;
}

.services_products .products_item h4 a.title-head:hover {
  color: #fb811e;
}

/* QUALITY  */
.services_quality .quality_content .quality_left img {
  border-radius: 30px;
}

.services_quality .quality_content .quality_right h5 {
  color: #fb811e;
  font-size: 22px;
}

.services_quality .quality_content .align-self {
  align-self: center;
}

.services_quality .quality_content .quality_right h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.services_quality .quality_content .quality_right .grids_info span.fa {
  font-size: 30px;
  color: #fb811e;
}

.services_quality .quality_content .quality_right .grids_info h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

/* NUMBER  */
.services_number .number_content .number_item span {
  color: #009f4d;
  text-align: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background: rgb(0 159 77 / 4%);
  font-size: 32px;
}

.services_number .number_content .number_item .count-number {
  font-size: 3rem;
  font-weight: 600;
  color: #060606;
}

.services_number .number_content .number_item .count-text {
  color: #060606;
}

/* THEME  */
.services_theme {
  background-image: url("../img/services/img3.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.services_theme .theme_overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 44%);
}

.services_theme .theme_content .theme_item {
  z-index: 1;
}

.services_theme .theme_content .theme_item h3 {
  font-weight: 600;
  /* font-size: 35px; */
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: #060606;
}

.services_theme .theme_content .theme_item .btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.services_theme .theme_content .theme_item .btn-style:hover {
  background: #009f4d;
  color: #ffffff;
}
